.Rproj.user
.Rhistory
.RData
.Ruserdata

/discarded_scripts/
Icon
/execution/Icon
/climate/Icon
/harvest/Icos

Color legends
harvest scenarios: ['#e41a1c','#377eb8','#4daf4a','#984ea3']
species groups: ['#91bfdb','#4575b4','#d73027','#fc8d59','#fee090','#ffffbf']
lines plots: ['#1b9e77','#7570b3']
trends: ['#d7191c','#fdae61','#ffffbf','#abd9e9','#2c7bb6']
significance maps: ['#1b9e77','#d95f02']
forest types maps: ['#8c510a','#d8b365','#f6e8c3','#f5f5f5','#c7eae5','#5ab4ac','#01665e']